In [ ]:
import pandas as pd #판다스
import numpy as np #넘파이
import seaborn as sns #씨본
import re #정규식
import matplotlib
import matplotlib.pyplot as plt #시각화
%matplotlib inline

In [ ]:
# from geoband.API import *

# GetCompasData('SBJ_2208_001', '11', '11_연수구_상권정보.csv')

In [ ]:
# 상권정보 : Business
# 2022 기준 데이터

Business = pd.read_csv('/content/11_연수구_상권정보.csv', encoding = 'utf-8')
Business.head()

,store_type,business_type,license_date,open_type,close_date,location_address,road_address,store_nm,lon,lat
0,숙박업,여관업,19800814,폐업,20130102.0,인천광역시 연수구 옥련동 547-16번지 (정다운길14),NaN,NaN,126.649444,37.419411
1,일반음식점,NaN,20000412,폐업,20130102.0,인천광역시 연수구 선학동 408-4번지 지상2층,"인천광역시 연수구 학나래로6번길 35 (선학동, 지상2층)",신선한회가(家),126.697561,37.424746
2,일반음식점,NaN,20110705,폐업,20130103.0,"인천광역시 연수구 송도동 22-22번지 대우월드마크8단지 206호,207호,208호...","인천광역시 연수구 컨벤시아대로 126, 지상2층 206,207,208호 (송도동, ...",히꼬리 스모크 하우스,126.645748,37.392728
3,담배소매업,NaN,20111005,폐업처리,20130103.0,인천광역시 연수구 연수1동 536번지 동남아파트 상가 170호,NaN,동남슈퍼,126.674913,37.423870
4,담배소매업,NaN,20090827,폐업처리,20130103.0,인천광역시 연수구 선학동 352번지 뉴서울1차아파트 상가 114호,"인천광역시 연수구 선학로 101 (선학동,뉴서울1차아파트 상가 114호)",뉴서울슈퍼,126.700087,37.425019

In [ ]:
Business.duplicated().sum()

21

In [ ]:
Business = Business.drop_duplicates()
Business.reset_index(inplace = True)
Business = Business.drop(columns = 'index')
Business

,store_type,business_type,license_date,open_type,close_date,location_address,road_address,store_nm,lon,lat
0,숙박업,여관업,19800814,폐업,20130102.0,인천광역시 연수구 옥련동 547-16번지 (정다운길14),NaN,NaN,126.649444,37.419411
1,일반음식점,NaN,20000412,폐업,20130102.0,인천광역시 연수구 선학동 408-4번지 지상2층,"인천광역시 연수구 학나래로6번길 35 (선학동, 지상2층)",신선한회가(家),126.697561,37.424746
2,일반음식점,NaN,20110705,폐업,20130103.0,"인천광역시 연수구 송도동 22-22번지 대우월드마크8단지 206호,207호,208호...","인천광역시 연수구 컨벤시아대로 126, 지상2층 206,207,208호 (송도동, ...",히꼬리 스모크 하우스,126.645748,37.392728
3,담배소매업,NaN,20111005,폐업처리,20130103.0,인천광역시 연수구 연수1동 536번지 동남아파트 상가 170호,NaN,동남슈퍼,126.674913,37.423870
4,담배소매업,NaN,20090827,폐업처리,20130103.0,인천광역시 연수구 선학동 352번지 뉴서울1차아파트 상가 114호,"인천광역시 연수구 선학로 101 (선학동,뉴서울1차아파트 상가 114호)",뉴서울슈퍼,126.700087,37.425019
...,...,...,...,...,...,...,...,...,...,...
30221,당구장업,NaN,20020620,영업중,NaN,인천광역시 연수구 연수동 508번지 랜드마크빌딩,"인천광역시 연수구 비류대로433번길 26, 랜드마크빌딩 4층 (연수동)",하이런 당구클럽,126.683161,37.425491
30222,당구장업,NaN,20211228,영업중,NaN,인천광역시 연수구 선학동 407-3 선빈빌딩,"인천광역시 연수구 학나래로6번길 56, 선빈빌딩 3층 (선학동)",라이프 스타일,126.698139,37.425391
30223,당구장업,NaN,20200427,영업중,NaN,인천광역시 연수구 청학동 496-4 연수광장프라자,"인천광역시 연수구 벚꽃로 106, 연수광장프라자 503호 (청학동)",킹 빌리어드 브레통,126.677112,37.417732
30224,당구장업,NaN,20040614,영업중,NaN,인천광역시 연수구 선학동 411-2번지 2층,인천광역시 연수구 학나래로6번길 19 (선학동),VIP,126.697397,37.424032
30225,당구장업,NaN,20210928,영업중,NaN,인천광역시 연수구 송도동 13-58,"인천광역시 연수구 하모니로 271, 212~217호 (송도동)",인천대당구클럽,126.636628,37.373946

# 전처리

In [ ]:
# 복사

Business2 = Business.copy()

In [ ]:
# 필요없는 칼럼 삭제

Business2.drop(columns = ['business_type', 'store_nm'], axis =1, inplace = True)

In [ ]:
print(Business2['road_address'].isnull().sum())
print(Business2['location_address'].isnull().sum())

359
1775

In [ ]:
# road_address과 location_address 조작 : ㅇㅇ동

# road_address의 결측값 수가 location_address 보다 적음 !
# road_address 에서 결측치 있는 곳의 location_address 
temp = Business2[Business2['road_address'].isnull()]['location_address'] 

# road_address 의 결측값을 location_address로 대체
Business2['road_address'] = Business2['road_address'].fillna(temp)

In [ ]:
## 동 추출하기

dong_list = []

# 패턴과 일치하면 그 패턴 값을 dong_list에 append
for i in range(len(Business2['road_address'])):
    data = Business2.loc[i]['road_address']

    if re.findall(r'옥련동', data):
        dong_list.append('옥련동')
    
    elif re.findall(r'선학동', data):
        dong_list.append('선학동')
     
    elif re.findall(r'연수동', data):
         dong_list.append('연수동')

    elif re.findall(r'청학동', data):
         dong_list.append('청학동')
    
    elif re.findall(r'동춘동', data):
         dong_list.append('동춘동')
    
    elif re.findall(r'송도동', data):
         dong_list.append('송도동')

    else: 
        ## 00동으로 이루어지지 않은 주소값 : 9개
        ## 별도로 조작하여 값을 넣어줄 필요가 있었음 : 9개
        print('index : ', i, ', data : ',Business2.loc[i]['road_address'])

index :  3 , data :  인천광역시 연수구 연수1동 536번지 동남아파트 상가 170호
index :  299 , data :  인천광역시 연수구 연수1동  606 6 새롬빌딩 1층
index :  833 , data :  인천광역시 연수구 송도1동 380번지 인천환경공단사업소내
index :  873 , data :  인천광역시 연수구 송도1동 380번지 환경공단송도사업소내
index :  1395 , data :  인천광역시 연수구 송도2동 18번지 4호
index :  20890 , data :  인천광역시 연수구 옥련*동 ***번지 **호 송도리치빌  *동 ***호
index :  20902 , data :  인천광역시 연수구 연수*동 ***번지 동남아파트 ***동 ***호
index :  20909 , data :  인천광역시 연수구 연수*동 ***번지 대동월드스포츠센타 *층 ***,***호
index :  29672 , data :  인천광역시 연수구 새말로 111

In [ ]:
## 00동으로 이루어지지 않은 주소값 : 9개
# 별도로 조작하여 값을 넣어줄 필요

a = '인천광역시 연수구 연수1동 536번지 동남아파트 상가 170호 (연수동)'
b = '인천광역시 연수구 연수1동  606 6 새롬빌딩 1층 (연수동)'
c = '인천광역시 연수구 송도1동 380번지 인천환경공단사업소내 (송도동)'
d = '인천광역시 연수구 송도1동 380번지 환경공단송도사업소내 (송도동)'
e = '인천광역시 연수구 송도2동 18번지 4호 (송도동)'
f = '인천광역시 연수구 옥련*동 ***번지 **호 송도리치빌  *동 ***호 (옥련동)'
g = '인천광역시 연수구 연수*동 ***번지 동남아파트 ***동 ***호 (연수동)'
h = '인천광역시 연수구 연수*동 ***번지 대동월드스포츠센타 *층 ***,***호 (연수동)'
# 지도검색 : 인천광역시 연수구 연수동 577 영남아파트
i = '인천광역시 연수구 새말로 11 (연수동 577 영남아파트)'

## 변경 값들을 replace를 사용하여 인덱스별로 조작
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[3]['road_address'], a)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[299]['road_address'], b)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[833]['road_address'], c)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[873]['road_address'], d)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[1395]['road_address'], e)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[20890]['road_address'], f)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[20902]['road_address'], g)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[20909]['road_address'], h)
Business2['road_address'] = Business2['road_address'].replace(Business2.loc[29672]['road_address'], i)

In [ ]:
## 동 추출하기

dong_list = []

# 패턴과 일치하면 그 패턴 값을 dong_list에 append
for i in range(len(Business2['road_address'])):
    data = Business2.loc[i]['road_address']

    if re.findall(r'옥련동', data):
        dong_list.append('옥련동')
    
    elif re.findall(r'선학동', data):
        dong_list.append('선학동')
     
    elif re.findall(r'연수동', data):
         dong_list.append('연수동')

    elif re.findall(r'청학동', data):
         dong_list.append('청학동')
    
    elif re.findall(r'동춘동', data):
         dong_list.append('동춘동')
    
    elif re.findall(r'송도동', data):
         dong_list.append('송도동')

#     else: 
#         ## 00동으로 이루어지지 않은 주소값 : 9개
#         ## 별도로 조작하여 값을 넣어줄 필요가 있었음 : 9개
#         print('index : ', i, ', data : ',Business2.loc[i]['road_address'])

In [ ]:
# 보기 편하도록 데이터프레임의 맨 앞의 칼럼으로 emd_nm
Business2.insert(0, 'emd_nm', dong_list)

In [ ]:
# location_address, road_address 삭제
Business2.drop(columns = ['location_address', 'road_address'], axis = 1, inplace = True)

In [ ]:
Business2.reset_index(inplace = True)
Business2 = Business2.drop(columns = 'index')
Business2.head()

  emd_nm store_type  license_date open_type  close_date         lon        lat
0    옥련동        숙박업      19800814        폐업  20130102.0  126.649444  37.419411
1    선학동      일반음식점      20000412        폐업  20130102.0  126.697561  37.424746
2    송도동      일반음식점      20110705        폐업  20130103.0  126.645748  37.392728
3    연수동      담배소매업      20111005      폐업처리  20130103.0  126.674913  37.423870
4    선학동      담배소매업      20090827      폐업처리  20130103.0  126.700087  37.425019

In [ ]:
## 영업구분 새로운 값으로 변경
#    '폐업', '폐업처리', '직권폐업', '임시소매기간만료' >> '폐업'
#    '직권말소', '말소', '허가취소', '등록취소', '직권취소', '지정취소' >> '삭제'
#    '영업중', '정상', '영업', '정상영업', '영업재개' >> '영업'
#    '휴업', '휴업처리', '영업정지' >> '휴업'

# 값 변경
Business2['open_type'] = Business2['open_type'].replace(['폐업', '폐업처리', '직권폐업', '임시소매기간만료'], '폐업')
Business2['open_type'] = Business2['open_type'].replace(['직권말소', '말소', '허가취소', '등록취소', '직권취소', '지정취소'], '삭제')
Business2['open_type'] = Business2['open_type'].replace(['영업중', '정상', '영업', '정상영업', '영업재개'], '영업')
Business2['open_type'] = Business2['open_type'].replace(['휴업', '휴업처리', '영업정지'], '휴업')

Business2['open_type'].unique()

array(['폐업', '삭제', '영업', '휴업'], dtype=object)

In [ ]:
Business2['open_type'].value_counts()

영업    18233
폐업    11649
삭제      296
휴업       48
Name: open_type, dtype: int64

In [ ]:
# 년월일로 되어있는 날짜데이터를 년도로 변경

# license_date : 영업허가 일자

# 자료형 변경
Business2['license_date'] = Business2['license_date'].astype(str)

license_temp = []

for i in range(len(Business2)):
    license_temp.append(Business2.loc[i,'license_date'][:4])

Business2['license_date'] = license_temp

In [ ]:
# close_date : 폐업 일자

# 폐업하지 않은 가게도 있기 때문에, close_date 결측값 임의로 설정
Business2['close_date'] = Business2['close_date'].fillna('00000000')

# 자료형 변경
Business2['close_date'] = Business2['close_date'].astype(str)

close_temp = []
for i in range(len(Business2)):
    close_temp.append(Business2.loc[i,'close_date'][:4])

Business2['close_date'] = close_temp

In [ ]:
# store_type 변경
# 건강, 동물, 문화, 생활, 식품, 기타 
health = ['병원', '의원', '산후조리원', '안전상비의약품 판매업소', '약국', '안경업']
animal = ['동물미용업', '동물판매업', '동물약국', '동물병원']
culture = ['인터넷컴퓨터게임시설제공업', '일반게임제공업', '청소년게임제공업', '노래연습장업', '숙박업']
life = ['미용업', '이용업', '통신판매업', '당구장업']
food = [' 건강기능식품일반판매업', '축산판매업', '즉석판매제조가공업', '단란주점영업', '유흥주점영업', '일반음식점', '휴게음식점']
etc = ['담배소매업']

In [ ]:
type_list = []

for i in Business2['store_type']:
    if i in health:
        type_list.append('건강')
    elif i in animal:
        type_list.append('동물')
    elif i in culture:
        type_list.append('문화')
    elif i  in life:
        type_list.append('생활')
    elif i  in food:
        type_list.append('식품')
    else:
        type_list.append('기타')

In [ ]:
Business2['store_type'] = type_list

In [ ]:
Business2 = Business2.drop(columns = ['lon', 'lat'], axis = True)

In [ ]:
Business2['store_type'].value_counts()

식품    13223
생활    11964
기타     2738
건강     1187
문화      811
동물      303
Name: store_type, dtype: int64

In [ ]:
Business2.head()

  emd_nm store_type license_date open_type close_date
0    옥련동         문화         1980        폐업       2013
1    선학동         식품         2000        폐업       2013
2    송도동         식품         2011        폐업       2013
3    연수동         기타         2011        폐업       2013
4    선학동         기타         2009        폐업       2013

# 최종 : 상권정보_연도별_창업_폐업_1821.csv

In [ ]:
Business3 = Business2.copy()

In [ ]:
Business3_open = Business3[Business3['license_date'] >= '2018']
Business3_open = Business3_open[Business3_open['license_date'] <= '2021']
Business3_open.reset_index(inplace = True)
Business3_open = Business3_open.drop(columns = ['index', 'close_date'])
Business3_open['open_cnt'] = 1
Business3_open = Business3_open.groupby(['emd_nm', 'license_date', 'store_type']).sum()
Business3_open.reset_index(inplace = True)
Business3_open = Business3_open.rename(columns = {'license_date': 'base_date'})
Business3_open

    emd_nm base_date store_type  open_cnt
0      동춘동      2018         건강         8
1      동춘동      2018         기타        19
2      동춘동      2018         동물         5
3      동춘동      2018         문화         7
4      동춘동      2018         생활       110
..     ...       ...        ...       ...
135    청학동      2021         기타        18
136    청학동      2021         동물         2
137    청학동      2021         문화         2
138    청학동      2021         생활       110
139    청학동      2021         식품       100

[140 rows x 4 columns]

In [ ]:
Business3_open.isnull().sum()

emd_nm        0
base_date     0
store_type    0
open_cnt      0
dtype: int64

In [ ]:
Business3_close = Business3[Business3['close_date'] >= '2018']
Business3_close = Business3_close[Business3_close['close_date'] <= '2021']
Business3_close.reset_index(inplace = True)
Business3_close = Business3_close.drop(columns = ['index', 'license_date'])
Business3_close['close_cnt'] = 1
Business3_close = Business3_close.groupby(['emd_nm', 'close_date', 'store_type']).sum()
Business3_close.reset_index(inplace = True)
Business3_close = Business3_close.rename(columns = {'close_date': 'base_date'})
Business3_close

    emd_nm base_date store_type  close_cnt
0      동춘동      2018         건강          6
1      동춘동      2018         기타         21
2      동춘동      2018         동물          1
3      동춘동      2018         문화          5
4      동춘동      2018         생활         31
..     ...       ...        ...        ...
127    청학동      2021         건강          4
128    청학동      2021         기타         17
129    청학동      2021         문화          1
130    청학동      2021         생활         39
131    청학동      2021         식품         63

[132 rows x 4 columns]

In [ ]:
Business3_close.isnull().sum()

emd_nm        0
base_date     0
store_type    0
close_cnt     0
dtype: int64

In [ ]:
# 저장
Business3_open.to_csv("최종_상권정보_창업_1821.csv", encoding = 'utf-8', index = False)
Business3_close.to_csv("최종_상권정보_폐업_1821.csv", encoding = 'utf-8', index = False)

# 최종 : 신도심&원도심
- 상권정보_신도심_원도심_창업_1821
- 상권정보_신도심_원도심_폐업_1821

In [ ]:
Business3_open_old = Business3_open[Business3_open['emd_nm'] != '송도동']
Business3_open_old = Business3_open_old.drop(columns = 'emd_nm')
Business3_open_old = Business3_open_old.groupby(['base_date', 'store_type']).sum()
Business3_open_old.reset_index(inplace = True)
Business3_open_old.insert(1, 'center','원도심')
Business3_open_old

In [ ]:
Business3_open_new = Business3_open[Business3_open['emd_nm'] == '송도동']
Business3_open_new = Business3_open_new.drop(columns = 'emd_nm')
Business3_open_new = Business3_open_new.groupby(['base_date', 'store_type']).sum()
Business3_open_new.reset_index(inplace = True)
Business3_open_new.insert(1, 'center','신도심')
Business3_open_new

In [81]:
Business3_open_old_new = pd.concat([Business3_open_new, Business3_open_old])
Business3_open_old_new = Business3_open_old_new.sort_values(by = [Business3_open_old_new.columns[0],Business3_open_old_new.columns[1]] )
Business3_open_old_new.reset_index(inplace = True)
Business3_open_old_new = Business3_open_old_new.drop(columns = 'index')
Business3_open_old_new.head()

  base_date center store_type  open_cnt
0      2018    신도심         건강        50
1      2018    신도심         기타        87
2      2018    신도심         동물        29
3      2018    신도심         문화        13
4      2018    신도심         생활       481

In [86]:
# 저장
Business3_open_old_new.to_csv('최종_상권정보_신도심_원도심_창업.csv', encoding = 'utf-8', index = False)

In [ ]:
Business3_close_old = Business3_close[Business3_close['emd_nm'] != '송도동']
Business3_close_old = Business3_close_old.drop(columns = 'emd_nm')
Business3_close_old = Business3_close_old.groupby(['base_date', 'store_type']).sum()
Business3_close_old.reset_index(inplace = True)
Business3_close_old.insert(1, 'center','원도심')
Business3_close_old

In [ ]:
Business3_close_new = Business3_close[Business3_close['emd_nm'] == '송도동']
Business3_close_new = Business3_close_new.drop(columns = 'emd_nm')
Business3_close_new = Business3_close_new.groupby(['base_date', 'store_type']).sum()
Business3_close_new.reset_index(inplace = True)
Business3_close_new.insert(1, 'center','신도심')
Business3_close_new

In [ ]:
Business3_close_old_new = pd.concat([Business3_close_new, Business3_close_old])
Business3_close_old_new = Business3_close_old_new.sort_values(by = [Business3_close_old_new.columns[0],Business3_close_old_new.columns[1]] )
Business3_close_old_new.reset_index(inplace = True)
Business3_close_old_new = Business3_close_old_new.drop(columns = 'index')
Business3_close_old_new

In [85]:
# 저장
Business3_close_old_new.to_csv('최종_상권정보_신도심_원도심_폐업.csv', encoding = 'utf-8', index = False)

# 데이터 요청

In [ ]:
# from geoband.API import *
# RequestCompasData('최종_상권정보_변동현황_1821.csv')

In [ ]:
# from geoband.API import *
# RequestCompasData('최종_상권정보_신도심_원도심.csv')