In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# from geoband.API import *
# GetCompasData('SBJ_2208_001', '5', '5_연수구_성연령별_주민등록인구.xlsx')

[2022-09-22 13:49:22] 성공 - 5_연수구_성연령별_주민등록인구.xlsx

'5_연수구_성연령별_주민등록인구.xlsx'

In [ ]:
# 주민등록인구 : resident registration population (rereg_population)
# 2013 ~ 2022 월별 데이터

# rereg_population = pd.read_excel('5_연수구_성연령별_주민등록인구.xlsx')
rereg_population = pd.read_excel('/content/5_연수구_성연령별_주민등록인구.xlsx')
rereg_population.head()

,emd_nm,base_date,m_total_pop,m_0g_pop,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,...,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,w_70g_pop,w_80g_pop,w_90g_pop,w_100g_pop
0,인천광역시 연수구,201301,146929,14381,23266,21980,21531,28205,24229,8053,...,21092,20515,22217,30103,21469,8000,6292,2921,408,15
1,인천광역시 연수구 옥련1동,201301,11392,1074,1842,1593,1619,2204,1812,733,...,1655,1453,1693,2371,1623,768,569,244,36,2
2,인천광역시 연수구 옥련2동,201301,12072,1159,1987,1626,1718,2387,1961,746,...,1843,1590,1807,2564,1767,743,564,256,36,3
3,인천광역시 연수구 선학동,201301,10565,688,1252,1931,1766,1651,2024,794,...,1136,1719,1409,1803,1957,759,570,258,36,1
4,인천광역시 연수구 연수1동,201301,14335,1075,1879,2440,2644,2787,2244,792,...,1734,2072,1981,2505,1837,762,505,219,34,1

# 전처리

### ⭐22.09.26 수정 !
- 해당 연도의 값은 매년 말월(12월)을 기준으로 함.

In [ ]:
rereg_population2 = rereg_population.copy()

In [ ]:
# 날짜값을 문자열로 변경
rereg_population2['base_date'] = rereg_population2['base_date'].astype(str)

In [ ]:
# 12월만 추출하여 데이터프레임 형성

date_list = list(rereg_population2['base_date'])
x_december = []

for i in range(len(date_list)):
    if rereg_population2['base_date'][i][-2:] == '12':
        # i 는 12월 값의 인덱스 번호
        x_december.append(i)

# x_december

temp = {}
for i in x_december:
    temp[i] = rereg_population2.loc[i]

rereg_population_12 = pd.DataFrame(temp).T

In [ ]:
### 12월 값을 기준으로 주민등록인구수 분석

rereg_population_12.reset_index(inplace = True)
rereg_population_12 = rereg_population_12.drop(columns = 'index')
rereg_population_12.head()

,emd_nm,base_date,m_total_pop,m_0g_pop,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,...,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,w_70g_pop,w_80g_pop,w_90g_pop,w_100g_pop
0,인천광역시 연수구,201312,150157,14878,22531,22648,21816,28399,25615,8595,...,20728,20969,22354,30576,22973,8499,6483,3109,457,21
1,인천광역시 연수구 옥련1동,201312,11327,1075,1754,1581,1583,2130,1907,762,...,1548,1411,1690,2331,1735,752,596,253,32,3
2,인천광역시 연수구 옥련2동,201312,11864,1134,1797,1666,1673,2298,2003,756,...,1712,1611,1708,2514,1803,774,576,279,39,2
3,인천광역시 연수구 선학동,201312,10464,669,1155,1906,1730,1641,2025,839,...,1046,1638,1398,1725,2009,805,569,263,37,2
4,인천광역시 연수구 연수1동,201312,14232,1096,1719,2443,2574,2723,2337,837,...,1607,2068,1906,2409,1951,795,503,219,37,2

In [ ]:
# 연도만 추출
date_list = list(rereg_population_12['base_date'])
year = ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

for i in range(len(date_list)):
    for j in range(len(year)):
        if date_list[i][:-2] == year[j]:
            date_list[i] = year[j]
            
rereg_population_12['base_date'] = date_list

In [ ]:
rereg_population_12['base_date'].unique()

array(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021'], dtype=object)

In [ ]:
# '인천광역시 연수구 ' 라는 값 존재
# 1동,2동 등으로 구분
rereg_population_12['emd_nm'].unique()

array(['인천광역시 연수구 ', '인천광역시 연수구 옥련1동', '인천광역시 연수구 옥련2동', '인천광역시 연수구 선학동',
       '인천광역시 연수구 연수1동', '인천광역시 연수구 연수2동', '인천광역시 연수구 연수3동',
       '인천광역시 연수구 청학동', '인천광역시 연수구 동춘1동', '인천광역시 연수구 동춘2동',
       '인천광역시 연수구 동춘3동', '인천광역시 연수구 송도1동', '인천광역시 연수구 송도2동',
       '인천광역시 연수구 송도3동', '인천광역시 연수구 송도4동', '인천광역시 연수구 송도5동'], dtype=object)

In [ ]:
# 읍면동 명칭 수정
rereg_population_12['emd_nm'] = rereg_population_12['emd_nm'].apply(lambda x :'옥련동' if x in ['인천광역시 연수구 옥련1동',
                                                                                         '인천광역시 연수구 옥련2동'] else x )

rereg_population_12['emd_nm'] = rereg_population_12['emd_nm'].apply(lambda x :'연수동' if x in ['인천광역시 연수구 연수1동',
                                                                                         '인천광역시 연수구 연수2동',
                                                                                         '인천광역시 연수구 연수3동'] else x )

rereg_population_12['emd_nm'] = rereg_population_12['emd_nm'].apply(lambda x :'동춘동' if x in ['인천광역시 연수구 동춘1동', 
                                                                                         '인천광역시 연수구 동춘2동', 
                                                                                         '인천광역시 연수구 동춘3동'] else x )

rereg_population_12['emd_nm'] = rereg_population_12['emd_nm'].apply(lambda x :'송도동' if x in ['인천광역시 연수구 송도1동',
                                                                                         '인천광역시 연수구 송도2동',
                                                                                         '인천광역시 연수구 송도3동',
                                                                                         '인천광역시 연수구 송도4동',
                                                                                         '인천광역시 연수구 송도5동'] else x )

rereg_population_12['emd_nm'] = rereg_population_12['emd_nm'].apply(lambda x :'선학동' if x in ['인천광역시 연수구 선학동'] else x )

rereg_population_12['emd_nm'] = rereg_population_12['emd_nm'].apply(lambda x :'청학동' if x in ['인천광역시 연수구 청학동'] else x )

In [ ]:
rereg_population_12['emd_nm'].unique()

array(['인천광역시 연수구 ', '옥련동', '선학동', '연수동', '청학동', '동춘동', '송도동'],
      dtype=object)

In [ ]:
rereg_population_12.head()

,emd_nm,base_date,m_total_pop,m_0g_pop,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,...,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,w_70g_pop,w_80g_pop,w_90g_pop,w_100g_pop
0,인천광역시 연수구,2013,150157,14878,22531,22648,21816,28399,25615,8595,...,20728,20969,22354,30576,22973,8499,6483,3109,457,21
1,옥련동,2013,11327,1075,1754,1581,1583,2130,1907,762,...,1548,1411,1690,2331,1735,752,596,253,32,3
2,옥련동,2013,11864,1134,1797,1666,1673,2298,2003,756,...,1712,1611,1708,2514,1803,774,576,279,39,2
3,선학동,2013,10464,669,1155,1906,1730,1641,2025,839,...,1046,1638,1398,1725,2009,805,569,263,37,2
4,연수동,2013,14232,1096,1719,2443,2574,2723,2337,837,...,1607,2068,1906,2409,1951,795,503,219,37,2

In [ ]:
# 값 확인
rereg_population_12[rereg_population_12['base_date'] == '2018'].groupby(['base_date','emd_nm']).sum().reset_index()
rereg_population_12[rereg_population_12['base_date'] == '2019'].groupby(['base_date','emd_nm']).sum().reset_index()

,base_date,emd_nm,m_total_pop,m_0g_pop,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,...,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,w_70g_pop,w_80g_pop,w_90g_pop,w_100g_pop
0,2019,동춘동,31654,2874,4018,4821,4209,5162,5712,3249,...,3885,4483,4413,5909,6036,2996,1344,836,173,11
1,2019,선학동,9259,522,607,1552,1391,1340,1730,1379,...,567,1235,1052,1082,1903,1282,667,341,70,3
2,2019,송도동,76736,10717,10773,9801,12153,15236,11031,4905,...,10285,9677,14185,16319,10587,4570,1840,962,197,3
3,2019,연수동,30524,2027,2636,4962,4709,4730,5679,3736,...,2425,4481,3998,4440,5872,3480,1935,1275,246,9
4,2019,옥련동,20803,1655,2303,3259,2576,3331,3915,2256,...,2135,2863,2561,3508,4075,2245,1313,733,117,6
5,2019,인천광역시 연수구,182374,18539,21340,26468,26891,31891,30838,17344,...,20227,24414,27601,33134,31148,16289,8043,4693,888,36
6,2019,청학동,13398,744,1003,2073,1853,2092,2771,1819,...,930,1675,1392,1876,2675,1716,944,546,85,4

# 최종 : 주민등록인구_전체

In [ ]:
# 18 ~ 21 뽑기
rereg_pop_1822 = rereg_population_12[rereg_population_12['base_date'] >= '2018']
rereg_pop_1821 = rereg_pop_1822[rereg_pop_1822['base_date'] < '2022']
rereg_pop_1821

,emd_nm,base_date,m_total_pop,m_0g_pop,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,...,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,w_70g_pop,w_80g_pop,w_90g_pop,w_100g_pop
69,인천광역시 연수구,2018,172298,17597,20963,25210,25013,30494,29626,15138,...,19805,23363,25719,31964,29354,14212,7668,4296,792,37
70,옥련동,2018,10568,893,1221,1631,1354,1728,2009,1017,...,1104,1404,1366,1843,1950,1062,714,355,60,3
71,옥련동,2018,10989,914,1317,1788,1379,1772,2036,1070,...,1231,1552,1412,1953,2064,1066,593,342,56,3
72,선학동,2018,9516,529,704,1639,1489,1389,1813,1272,...,645,1383,1119,1191,2003,1174,650,326,65,3
73,연수동,2018,12016,715,1077,2013,1870,2167,2260,1244,...,954,1631,1347,1699,1957,1070,588,283,47,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,송도동,2021,18448,1533,2744,3184,2057,2978,3209,1927,...,2662,3239,2233,3565,3208,1809,603,348,101,2
126,송도동,2021,18030,2387,3275,1881,1757,3938,3016,1314,...,3133,1745,2455,4570,2649,1122,419,232,54,4
127,송도동,2021,24053,3348,3142,2968,4203,4915,3174,1637,...,2999,3159,4811,5137,3128,1610,553,262,59,0
128,송도동,2021,12603,1926,1523,1405,2072,2662,1776,904,...,1525,1387,2438,2701,1739,876,254,107,23,2
129,송도동,2021,19798,3274,1964,1989,4203,4091,2424,1424,...,1835,2027,4596,3956,2658,1478,332,155,48,1

In [ ]:
rereg_pop_1821['total_pop'] = rereg_pop_1821['m_total_pop'] + rereg_pop_1821['w_total_pop']
rereg_pop_1821['total_0g_pop'] = rereg_pop_1821['m_0g_pop'] + rereg_pop_1821['w_0g_pop']
rereg_pop_1821['total_10g_pop'] = rereg_pop_1821['m_10g_pop'] + rereg_pop_1821['w_10g_pop']
rereg_pop_1821['total_20g_pop'] = rereg_pop_1821['m_20g_pop'] + rereg_pop_1821['w_20g_pop']
rereg_pop_1821['total_30g_pop'] = rereg_pop_1821['m_30g_pop'] + rereg_pop_1821['w_30g_pop']
rereg_pop_1821['total_40g_pop'] = rereg_pop_1821['m_40g_pop'] + rereg_pop_1821['w_40g_pop']
rereg_pop_1821['total_50g_pop'] = rereg_pop_1821['m_50g_pop'] + rereg_pop_1821['w_50g_pop']
rereg_pop_1821['total_60g_pop'] = rereg_pop_1821['m_60g_pop'] + rereg_pop_1821['w_60g_pop']
rereg_pop_1821['total_70g_pop'] = rereg_pop_1821['m_70g_pop'] + rereg_pop_1821['w_70g_pop']
rereg_pop_1821['total_80g_pop'] = rereg_pop_1821['m_80g_pop'] + rereg_pop_1821['w_80g_pop']
rereg_pop_1821['total_90g_pop'] = rereg_pop_1821['m_90g_pop'] + rereg_pop_1821['w_90g_pop']
rereg_pop_1821['total_100g_pop'] = rereg_pop_1821['m_100g_pop'] + rereg_pop_1821['w_100g_pop']

In [ ]:
rereg_pop_1821.columns

Index(['emd_nm', 'base_date', 'm_total_pop', 'm_0g_pop', 'm_10g_pop',
       'm_20g_pop', 'm_30g_pop', 'm_40g_pop', 'm_50g_pop', 'm_60g_pop',
       'm_70g_pop', 'm_80g_pop', 'm_90g_pop', 'm_100g_pop', 'w_total_pop',
       'w_0g_pop', 'w_10g_pop', 'w_20g_pop', 'w_30g_pop', 'w_40g_pop',
       'w_50g_pop', 'w_60g_pop', 'w_70g_pop', 'w_80g_pop', 'w_90g_pop',
       'w_100g_pop', 'total_pop', 'total_0g_pop', 'total_10g_pop',
       'total_20g_pop', 'total_30g_pop', 'total_40g_pop', 'total_50g_pop',
       'total_60g_pop', 'total_70g_pop', 'total_80g_pop', 'total_90g_pop',
       'total_100g_pop'],
      dtype='object')

In [ ]:
rereg_pop_1821 = rereg_pop_1821.drop(columns = ['m_total_pop', 'w_total_pop','m_0g_pop', 'm_10g_pop','m_20g_pop', 'm_30g_pop', 'm_40g_pop', 'm_50g_pop', 
                                                      'm_60g_pop', 'm_70g_pop', 'm_80g_pop', 'm_90g_pop', 'm_100g_pop','w_0g_pop', 
                                                      'w_10g_pop', 'w_20g_pop', 'w_30g_pop', 'w_40g_pop','w_50g_pop', 'w_60g_pop', 
                                                      'w_70g_pop', 'w_80g_pop', 'w_90g_pop','w_100g_pop'])

In [ ]:
rereg_pop_1821.reset_index(inplace = True)
rereg_pop_1821 = rereg_pop_1821.drop(columns = 'index')

In [ ]:
rereg_pop_1821 = rereg_pop_1821.groupby(['base_date', 'emd_nm']).sum()
rereg_pop_1821.reset_index(inplace = True)
rereg_pop_1821.head()

,base_date,emd_nm,total_pop,total_0g_pop,total_10g_pop,total_20g_pop,total_30g_pop,total_40g_pop,total_50g_pop,total_60g_pop,total_70g_pop,total_80g_pop,total_90g_pop,total_100g_pop
0,2018,동춘동,57519,5018,7609,8356,7121,10299,10492,5051,2259,1102,196,16
1,2018,선학동,18604,1058,1349,3022,2608,2580,3816,2446,1158,482,82,3
2,2018,송도동,136304,18762,19107,16529,22614,28087,19160,7605,3010,1212,212,6
3,2018,연수동,63250,4433,5652,10099,9374,9869,11828,6743,3316,1637,287,12
4,2018,옥련동,43412,3529,4873,6375,5511,7296,8059,4215,2361,1036,149,8

In [ ]:
# 저장
rereg_pop_1821.to_csv('최종_주민등록인구_전체_수정.csv', encoding = 'utf-8', index = False)

In [ ]:
# 불러오기
rereg_pop_1821 = pd.read_csv('최종_주민등록인구_전체_수정.csv', encoding = 'utf-8')
rereg_pop_1821.head()

,base_date,emd_nm,total_pop,total_0g_pop,total_10g_pop,total_20g_pop,total_30g_pop,total_40g_pop,total_50g_pop,total_60g_pop,total_70g_pop,total_80g_pop,total_90g_pop,total_100g_pop
0,2018,동춘동,57519,5018,7609,8356,7121,10299,10492,5051,2259,1102,196,16
1,2018,선학동,18604,1058,1349,3022,2608,2580,3816,2446,1158,482,82,3
2,2018,송도동,136304,18762,19107,16529,22614,28087,19160,7605,3010,1212,212,6
3,2018,연수동,63250,4433,5652,10099,9374,9869,11828,6743,3316,1637,287,12
4,2018,옥련동,43412,3529,4873,6375,5511,7296,8059,4215,2361,1036,149,8

# 최종 : 주민등록인구_동별_계층

In [ ]:
# '인천광역시 연수구 ' 삭제를 위해 인덱스로 'emd_nm' 설정
dong_rereg_pop_1821 = rereg_pop_1821.set_index('emd_nm')

# 인덱스명이 '인천광역시 연수구 '인 행 삭제
dong_rereg_pop_1821.drop('인천광역시 연수구 ', axis = 0, inplace = True)

# 인덱스 되돌리기
dong_rereg_pop_1821.reset_index(inplace = True)

dong_rereg_pop_1821.head()

,emd_nm,base_date,total_pop,total_0g_pop,total_10g_pop,total_20g_pop,total_30g_pop,total_40g_pop,total_50g_pop,total_60g_pop,total_70g_pop,total_80g_pop,total_90g_pop,total_100g_pop
0,동춘동,2018,57519,5018,7609,8356,7121,10299,10492,5051,2259,1102,196,16
1,선학동,2018,18604,1058,1349,3022,2608,2580,3816,2446,1158,482,82,3
2,송도동,2018,136304,18762,19107,16529,22614,28087,19160,7605,3010,1212,212,6
3,연수동,2018,63250,4433,5652,10099,9374,9869,11828,6743,3316,1637,287,12
4,옥련동,2018,43412,3529,4873,6375,5511,7296,8059,4215,2361,1036,149,8

In [ ]:
rereg_standard = dong_rereg_pop_1821.copy()

In [ ]:
# 아동청소년층
rereg_standard['total_youth_pop'] = rereg_standard['total_0g_pop'] + rereg_standard['total_10g_pop']

# 청장년층
rereg_standard['total_adult_pop'] = (rereg_standard['total_20g_pop'] + rereg_standard['total_30g_pop'] 
                                     + rereg_standard['total_40g_pop'] + rereg_standard['total_50g_pop'])
# 노년층
rereg_standard['total_senior_pop'] = (rereg_standard['total_60g_pop'] + rereg_standard['total_70g_pop']
                                + rereg_standard['total_80g_pop'] + rereg_standard['total_90g_pop'] + rereg_standard['total_100g_pop'])

In [ ]:
rereg_standard = rereg_standard.drop(columns = ['total_0g_pop', 'total_10g_pop', 'total_20g_pop', 'total_30g_pop', 'total_40g_pop', 'total_50g_pop',
                              'total_60g_pop', 'total_70g_pop', 'total_80g_pop', 'total_90g_pop', 'total_100g_pop'])

In [ ]:
rereg_standard = rereg_standard.groupby(['base_date', 'emd_nm']).sum()
rereg_standard.reset_index(inplace = True)
rereg_standard.head()

,base_date,emd_nm,total_pop,total_youth_pop,total_adult_pop,total_senior_pop
0,2018,동춘동,57519,12627,36268,8624
1,2018,선학동,18604,2407,12026,4171
2,2018,송도동,136304,37869,86390,12045
3,2018,연수동,63250,10085,41170,11995
4,2018,옥련동,43412,8402,27241,7769

In [ ]:
rereg_standard['senior_rate'] = (rereg_standard['total_senior_pop'] / rereg_standard['total_pop']) * 100
rereg_standard['youth_rate'] = (rereg_standard['total_youth_pop'] / rereg_standard['total_pop']) * 100
rereg_standard['adult_rate'] = (rereg_standard['total_adult_pop'] / rereg_standard['total_pop']) * 100

In [ ]:
rereg_standard.head()

,base_date,emd_nm,total_pop,total_youth_pop,total_adult_pop,total_senior_pop,senior_rate,youth_rate,adult_rate
0,2018,동춘동,57519,12627,36268,8624,14.993307,21.952746,63.053947
1,2018,선학동,18604,2407,12026,4171,22.419910,12.938078,64.642012
2,2018,송도동,136304,37869,86390,12045,8.836865,27.782750,63.380385
3,2018,연수동,63250,10085,41170,11995,18.964427,15.944664,65.090909
4,2018,옥련동,43412,8402,27241,7769,17.895973,19.354096,62.749931

In [ ]:
# 저장
rereg_standard.to_csv("최종_주민등록인구_연령구분_1821_수정.csv", encoding = 'utf-8', index = False)

In [ ]:
#불러오기
rereg_standard = pd.read_csv('최종_주민등록인구_연령구분_1821_수정.csv', encoding = 'utf-8')
rereg_standard.head()

,base_date,emd_nm,total_pop,total_youth_pop,total_adult_pop,total_senior_pop,senior_rate,youth_rate,adult_rate
0,2018,동춘동,57519,12627,36268,8624,14.993307,21.952746,63.053947
1,2018,선학동,18604,2407,12026,4171,22.419910,12.938078,64.642012
2,2018,송도동,136304,37869,86390,12045,8.836865,27.782750,63.380385
3,2018,연수동,63250,10085,41170,11995,18.964427,15.944664,65.090909
4,2018,옥련동,43412,8402,27241,7769,17.895973,19.354096,62.749931

# 최종 : 주민등록인구_연령구분_신도심_원도심

In [ ]:
# 원도심
rereg_standard_old = rereg_standard[rereg_standard['emd_nm'] != '송도동']
rereg_standard_old = rereg_standard_old.drop(columns = ['senior_rate', 'youth_rate', 'adult_rate'])
rereg_standard_old = rereg_standard_old.groupby('base_date').sum()
rereg_standard_old.reset_index(inplace = True)
rereg_standard_old.insert(1, 'center', '원도심')
rereg_standard_old

,base_date,center,total_pop,total_youth_pop,total_adult_pop,total_senior_pop
0,2018,원도심,210055,37347,134353,38355
1,2019,원도심,210899,35744,133396,41759
2,2020,원도심,205045,32939,127231,44875
3,2021,원도심,200720,30955,122065,47700

In [ ]:
rereg_standard_old['senior_rate'] = (rereg_standard_old['total_senior_pop'] / rereg_standard_old['total_pop']) * 100
rereg_standard_old['youth_rate'] = (rereg_standard_old['total_youth_pop'] / rereg_standard_old['total_pop']) * 100
rereg_standard_old['adult_rate'] = (rereg_standard_old['total_adult_pop'] / rereg_standard_old['total_pop']) * 100

In [ ]:
rereg_standard_old

,base_date,center,total_pop,total_youth_pop,total_adult_pop,total_senior_pop,senior_rate,youth_rate,adult_rate
0,2018,원도심,210055,37347,134353,38355,18.259503,17.779629,63.960867
1,2019,원도심,210899,35744,133396,41759,19.800473,16.948397,63.251130
2,2020,원도심,205045,32939,127231,44875,21.885440,16.064279,62.050282
3,2021,원도심,200720,30955,122065,47700,23.764448,15.421981,60.813571

In [ ]:
# 신도심
rereg_standard_new = rereg_standard[rereg_standard['emd_nm'] == '송도동']
rereg_standard_new= rereg_standard_new.groupby('base_date').sum()
rereg_standard_new.reset_index(inplace = True)
rereg_standard_new.insert(1, 'center', '신도시')
rereg_standard_new

,base_date,center,total_pop,total_youth_pop,total_adult_pop,total_senior_pop,senior_rate,youth_rate,adult_rate
0,2018,신도시,136304,37869,86390,12045,8.836865,27.782750,63.380385
1,2019,신도시,155651,42065,98989,14597,9.378032,27.025204,63.596765
2,2020,신도시,182405,48188,116020,18197,9.976152,26.418135,63.605713
3,2021,신도시,188924,49253,119303,20368,10.781055,26.070272,63.148674

In [ ]:
# 합치기
rereg_standard_old_new = pd.concat([rereg_standard_new, rereg_standard_old])
rereg_standard_old_new = rereg_standard_old_new.sort_values(by = rereg_standard_old_new.columns[0])
rereg_standard_old_new.reset_index(inplace = True)
rereg_standard_old_new = rereg_standard_old_new.drop(columns = 'index')
rereg_standard_old_new

,base_date,center,total_pop,total_youth_pop,total_adult_pop,total_senior_pop,senior_rate,youth_rate,adult_rate
0,2018,신도시,136304,37869,86390,12045,8.836865,27.782750,63.380385
1,2018,원도심,210055,37347,134353,38355,18.259503,17.779629,63.960867
2,2019,신도시,155651,42065,98989,14597,9.378032,27.025204,63.596765
3,2019,원도심,210899,35744,133396,41759,19.800473,16.948397,63.251130
4,2020,신도시,182405,48188,116020,18197,9.976152,26.418135,63.605713
5,2020,원도심,205045,32939,127231,44875,21.885440,16.064279,62.050282
6,2021,신도시,188924,49253,119303,20368,10.781055,26.070272,63.148674
7,2021,원도심,200720,30955,122065,47700,23.764448,15.421981,60.813571

In [ ]:
# 저장
rereg_standard_old_new.to_csv("최종_주민등록인구_신도시_원도심_수정_final.csv", encoding = 'utf-8', index = False)

In [ ]:
# 불러오기
rereg_standard_old_new = pd.read_csv('최종_주민등록인구_신도시_원도심_수정_final.csv', encoding = 'utf-8')
rereg_standard_old_new

,base_date,center,total_pop,total_youth_pop,total_adult_pop,total_senior_pop,senior_rate,youth_rate,adult_rate
0,2018,신도시,136304,37869,86390,12045,8.836865,27.782750,63.380385
1,2018,원도심,210055,37347,134353,38355,18.259503,17.779629,63.960867
2,2019,신도시,155651,42065,98989,14597,9.378032,27.025204,63.596765
3,2019,원도심,210899,35744,133396,41759,19.800473,16.948397,63.251130
4,2020,신도시,182405,48188,116020,18197,9.976152,26.418135,63.605713
5,2020,원도심,205045,32939,127231,44875,21.885440,16.064279,62.050282
6,2021,신도시,188924,49253,119303,20368,10.781055,26.070272,63.148674
7,2021,원도심,200720,30955,122065,47700,23.764448,15.421981,60.813571

# 데이터요청

In [ ]:
# from geoband.API import *
# RequestCompasData('최종_주민등록인구_신도심_원도심.csv')
# RequestCompasData('최종_주민등록인구_연령구분_1821.csv')
# RequestCompasData('최종_주민등록인구_전체.csv')

[2022-09-22 15:06:25] 성공 - 해당 파일은 이미 신청중입니다. 마이페이지내 데이터요청 항목을 확인해주세요.
[2022-09-22 15:06:25] 성공 - 해당 파일은 이미 신청중입니다. 마이페이지내 데이터요청 항목을 확인해주세요.
[2022-09-22 15:06:25] 성공 - 해당 파일은 이미 신청중입니다. 마이페이지내 데이터요청 항목을 확인해주세요.

In [ ]:
# from geoband.API import *
# RequestCompasData('최종_주민등록인구_신도심_원도심_수정.csv')

[2022-09-22 15:07:11] 성공 - 정상적으로 신청되었습니다. 마이페이지내 데이터요청 항목에서 진행사항을 확인해주세요.